.signup {
  margin: auto;
}
.signup-form {
  width: 30rem;
  max-width: 90%;
  margin: auto;
  padding: 1rem;
  border: 0.5px solid #023047;
  border-radius: 4px;
  background-color: #b3d5e6;
}
.form-control {
  margin-bottom: 1rem;
}
.form-control label,
.form-control input {
  display: block;
  font: inherit;
  width: 100%;
}
.form-control input {
  border: 1px solid #023047;
  border-radius: 2px;
}
